@charset "UTF-8";
@media screen and (max-device-width: 1920px) {
  .page {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/app/image/fon33.gif);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: none;
  }
  .fon {
    background: none;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 999999;
  }
  .menu a:hover {
    text-decoration: none;
    color: #96e6b3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
    height: auto;
  }
  .menu__right__link {
    display: block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(251, 254, 249, 0.9);
    transition: all 1s;
    text-decoration: none;
  }
  .menu__right .link {
    display: none;
  }
  .activ {
    color: #96e6b3;
    font-size: 17px;
    font-weight: bold;
  }
  .content {
    /*width: 100%;
	height: 100%;*/
  }
  .content-top {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
  }
  .content-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .text-title {
    width: 95%;
    position: relative;
    margin: 0px auto;
    letter-spacing: 10px;
    text-align: center;
    overflow: hidden;
    opacity: 0.5;
  }
  .text-title span {
    font-size: 20px;
    font-weight: bold;
    font-stretch: ultra-condensed;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
  .text-title:before,
  .text-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: relative;
  }
  .text-title:before {
    margin-left: -100%;
    left: -14px;
  }
  .text-title:after {
    margin-right: -100%;
    right: -14px;
  }
  .piece {
    display: flex;
    justify-content: center;
    width: 80%;
    z-index: 9;
  }
  .piece img {
    width: auto;
    height: 620px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin: 10px 0px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #96e6b3;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #96e6b3;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #96e6b3 50%, #96e6b3);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #000;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #000;
  }
  .content-bottom {
    width: 20%;
    height: 600px;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    border-left: 1px solid rgba(251, 254, 249, 0.5);
  }
  .content-bottom .number {
    color: #96e6b3;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    height: 150px;
  }
  .content-bottom .help {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 0px 50px;
  }
  .content-bottom .help span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.2em;
    color: rgba(251, 254, 249, 0.7);
  }
  .content-bottom .help a {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    color: rgba(251, 254, 249, 0.7);
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    height: 150px;
    padding: 0 50px;
  }
  .content-bottom .about span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.2em;
    color: rgba(251, 254, 249, 0.7);
  }
  .content-bottom .conditions {
    width: 100%;
    height: 150px;
    padding: 0 50px;
  }
  .content-bottom .conditions span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.2em;
    color: rgba(251, 254, 249, 0.7);
  }
  .fon2 {
    background: #fff;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
  }
  .totop {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  .totop .totop-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
  .totop .totop-button:hover {
    opacity: 1;
  }
  .container2 {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container2 .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container2 .row .box {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 250px;
    margin: 10px 0px;
    border: 5px double #96E6B3;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .container2 .row .box__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 250px;
    font-size: 35px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    white-space: nowrap;
  }
  .container2 .row .box__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .container2 .row .box__text .img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }
  .container2 .row .box__text .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #F2E94E;
    margin-left: 20px;
  }
  .container2 .img {
    z-index: 2;
    width: auto;
    height: 300px;
  }
  .fon3 {
    background-size: 100% auto;
    width: 100%;
    height: 100%;
  }
  .number-tree {
    color: #96e6b3;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    overflow: hidden;
    text-align: center;
  }
  .number-tree span {
    display: inline-block;
    vertical-align: middle;
  }
  .number-tree:before,
  .number-tree:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #96e6b3;
  }
  .number-tree:before {
    margin-left: -100%;
    left: -14px;
  }
  .number-tree:after {
    margin-right: -100%;
    right: -14%;
  }
  .gal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 10px;
    /*	background-size:cover;
  shape-outside: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  shape-margin: 0px;
  clip-path: polygon(0% 5%, 100% 0%, 100% 90%, 0% 100%);*/
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #96e6b3;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #96e6b3;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #96e6b3 50%, #96e6b3);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #000;
  }
  .gal-more a:hover {
    text-decoration: none;
  }

  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 40px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 0px 7px;
    /* добавляем отступы с каждой стороны */
  }
  .photo img {
    width: 300px;
    height: auto;
    border: 2px solid #FBFEF9;
  }
  .photo a:hover {
    opacity: 0.5;
  }
  .photo a {
    display: block;
    position: relative;
  }
  .photo a:after {
    content: '';
    background: transparent url() no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
  }
  .photo:hover > a:after {
    visibility: visible;
  }
  .fon4 {
    background-size: 100%;
    width: 100%;
    height: 900px;
  }
  .number-two {
    color: #96e6b3;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    overflow: hidden;
    text-align: center;
  }
  .number-two span {
    display: inline-block;
    vertical-align: middle;
  }
  .number-two:before,
  .number-two:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #96e6b3;
  }
  .number-two:before {
    margin-left: -100%;
    left: -14px;
  }
  .number-two:after {
    margin-right: -100%;
    right: -14%;
  }
  .rating-page {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .row {
    width: 100%;
    height: 90%;
  }
  .rating-box {
    background-color: none;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 10px;
  }
  .rating-box .grad {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }
  .rating-box .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .rating-box .inf {
    position: absolute;
    bottom: 5%;
    left: 1px;
    right: 1px;
    z-index: 6;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rating-box .inf .name {
    color: #FBFEF9;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
  }
  .rating-box .inf .city {
    color: #FBFEF9;
    text-align: center;
    font-size: 20px;
  }
  .rating-box .inf .rating {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .rating-box .rat {
    order: -1;
    color: #FBFEF9;
    margin-right: 20px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #FBFEF9;
  }
  .menu__right__link a:visited {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .menu__right__link a:active {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .menu__right__link a {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .menu__right__link a:hover {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .gal-more__button a:visited {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .gal-more__button a:active {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .gal-more__button a {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .gal-more__button a:hover {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .content-search__button a:visited {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .content-search__button a:active {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .content-search__button a {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .content-search__button a:hover {
    text-decoration: none;
    color: #282827 !important;
    /* Цвет ссылок */
  }
  .help a:visited {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .help a:active {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .help a {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
  .help a:hover {
    text-decoration: none;
    color: #fff !important;
    /* Цвет ссылок */
  }
}
