@media screen and (max-width: 1400px) {
  .page {
    overflow-x: hidden;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: nowrap;
    background-color: #000;
  }
  .menu a:hover {
    text-decoration: none;
    color: #96e6b3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #96e6b3;
    font-size: 17px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    background-color: #000;
  }
  .menu a:hover {
    text-decoration: none;
    color: #96e6b3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #96e6b3;
    font-size: 15px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: wrap;
    background-color: #000;
  }
  .menu a:hover {
    text-decoration: none;
    color: #96e6b3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #96e6b3;
    font-size: 17px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    background-color: #96E6B3;
    font-size: 15px;
    color: #000;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
    flex-wrap: wrap;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 480px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    background-color: #96E6B3;
    font-size: 15px;
    color: #000;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    color: #000;
    flex-wrap: wrap;
  }
  .information__photo {
    widows: 100%;
  }
  .information__about-me {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    background-color: #96E6B3;
    font-size: 15px;
    color: #000;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    color: #000;
    flex-wrap: wrap;
  }
  .information__photo {
    widows: 100%;
  }
  .information__photo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  .information__about-me {
    width: 90%;
    margin: 0 auto;
  }
}
