<div class="comments">
  <div class="comments__title">Комментарии</div>
<div class="comments__your">
    <div class="photo"><img src="app/image/403909.jpg"></div>
    <div class="information">
      <input class="name" type="text" name="name" placeholder="Введите Ваше Имя"/>
      <textarea class="text" type="text" name="message" placeholder="Введите Ваш текст..."></textarea>
      <button class="send">Отправить</button>
    </div>
</div>
<div class="comments__title">Комментарии пользователей</div>

  <div class="comments__all">
    <div class="photo"><img src="app/image/403909.jpg"></div>
    <div class="information">
      <div class="box-data">
        <div class="name">Фамилия Имя</div>
        <div class="date">ДМГ</div>
      </div>
    <div class="text">Какой то текст, много много много много много много много текста</div>
    </div>
  </div>
